<!-- pizza list iterating -->
<section th:fragment="pizzasList(pizzas)">
  <div th:each="pizza : ${pizzas}" th:object="${pizza}" class="d-flex mb-2 align-items-center gap-1">
    <a th:href="@{/pizzas/{id}(id=*{id})}" class="btn btn-light  list-group-item-action  d-flex justify-content-between"
      aria-current="true">
      <span th:text="*{name}" />
      <span th:text="*{price} + '€'" />
    </a>
    <a th:href="@{/pizzas/edit/{id}(id=*{id})}" class="btn btn-warning">Modifica</a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="'#delete-modal-' + *{id}">
      Elimina
    </button>

    <div class="modal fade" th:id="'delete-modal-' + *{id}" tabindex="-1"
      aria-labelledby="'delete-modal-label-' + *{id}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="'delete-modal-label-' + *{id}">Attenzione</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Stai per cancellare la pizza "[[*{name}]]".
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            <form th:action="@{/pizzas/delete/{id}(id=*{id})}" method="post">
              <button class="btn btn-danger" type="submit">Conferma</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>