<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head th:replace="~{fragments/resources :: head}" />

<body>
  <header th:insert="~{fragments/navbar :: navbar}" />

  <main class="container">
    <h1 class="mb-3">Crea la tua Pizza!</h1>

    <form id="new-pizza-form" th:object="${pizza}" th:action="@{/pizzas/create}" method="post">
      <div class="mb-3">
        <label for="name-input" class="form-label">Nome della pizza</label>
        <input type="text" class="form-control" id="name-input" th:field="*{name}">
      </div>
      <div class="mb-3">
        <label for="description-input" class="form-label">Descrizione e ingredienti</label>
        <textarea type="text" class="form-control" id="description-input" rows="3" th:field="*{description}" />
      </div>
      <div class="mb-3">
        <label for="pictureUrl-input" class="form-label">Inserire l'URL di una foto della pizza (opzionale)</label>
        <input type="text" class="form-control" id="pictureUrl-input" th:field="*{pictureUrl}">
      </div>
      <div class="mb-3">
        <label for="price-input" class="form-label">Prezzo</label>
        <input type="number" class="form-control" id="price-input" th:field="*{price}">
      </div>

      <button type="submit" class="btn btn-primary">Crea</button>
    </form>

  </main>

  <script th:replace="~{fragments/resources :: script}"></script>
</body>

</html>