<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head th:replace="~{fragments/resources :: head}" />

<body>
  <header th:insert="~{fragments/navbar :: navbar}" />

  <main class="container">
    <h1 class="mb-3">Menù delle pizze</h1>

    <section th:if="${pizzas.size() > 0}" th:replace="~{fragments/pizzas-list :: pizzasList(${pizzas})}" />

    <p th:unless="${pizzas.size() > 0}">
      Siamo spiacenti ma non ci sono pizze disponibili.
    </p>
  </main>

  <script th:replace="~{fragments/resources :: script}"></script>
</body>

</html>