<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head th:replace="~{fragments/resources :: head}" />

<body>
  <header th:insert="~{fragments/navbar :: navbar}" />

  <main th:object="${pizza}" class="container">

    <th:block th:if="${id > 0}">
      <h1 th:text="'Pizza ' + *{name}" class="mb-3" />

      <img th:src="*{pictureUrl}" th:alt="'Pizza ' + *{name}" class="mb-2">

      <h3 class="mb-1">Ingredienti:</h3>
      <div class="mb-3" th:each="ingredient : ${pizza.ingredients}">
        <p th:text="${ingredient.name}" />
      </div>

      <h3 class="mb-1">Descrizione:</h3>
      <p th:text="*{description}" class="mb-3" />

      <h4 th:text="*{price} + '€'" />
      <div th:if="${pizza.offers.size() > 0}">
        <h3>Offerte Speciali!</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Offerta</th>
              <th scope="col">Inizio</th>
              <th scope="col">Fine</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="offer : *{offers}" th:object="${offer}">
              <td>[[*{title}]]</td>
              <td>[[*{startingDate}]]</td>
              <td>[[*{endingDate}]]</td>
              <td><a th:href="@{/offers/edit/{id}(id=*{id})}" class="btn btn-secondary">Modifica</a></td>
              <td><a th:href="@{/offers/{id}(id=*{id})}" class="btn btn-primary">Visualizza</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <p th:unless="${pizza.offers.size() > 0}">
        Lo storico delle offerte speciali di questa pizza è vuoto.
      </p>

    </th:block>

    <p th:unless="${id > 0}">
      Siamo spiacenti ma la pizza selezionata non è disponibile.
    </p>

    <a th:href="@{/pizzas/{id}/offer(id=*{id})}" class="btn btn-secondary">Nuova offerta</a>

  </main>

  <script th:replace="~{fragments/resources :: script}"></script>
</body>

</html>